<div class="container">
    <h1 id="page-title">Burgers for the Soul</h1>

<div class="row">

<div class="col-4">
  <h2>Get Ready</h2>

</div>


<div class="col-4">
  <h2>Get Set</h2>
</div>



<div class="col-4">
  <h2>Go</h2>
</div>

</div>